<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        navbar {
          background-color: #fff;
        }
        div.demand {
          margin: 0px;
          padding: 1em;
        }
        div.scrollmenu {
          background-color: #fff;
        }
        div.scrollmenu a {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 14px;
        }
        a {
          text-decoration: none;
        }
        a.button {
          border-radius: 2em;
          margin: 1em;
          padding: 1em;
          background-color: #EEE;
          color: #000;
        }
    </style>
  </head>
  <body style="font-family: 'Hiragino Sans', 'Noto Sans JP', sans-serif;">
    <div style="b{margin: 0px; padding: 0px;}">
      <p>
        {% if name != None or name.replace(' ', '').replace('　', '') == '' %}
        <b>{{ name }}様</b>
        {% else %}
        <b>登録希望者様</b>
        {% endif %}
      </p>
      <p>
        ノラックにご登録いただきありがとうございます。
        ノラックのウェブサイトに掲示されている「不足リスト」にて新規の投稿があった際には、このメーリングリストを通して登録者の方々に新情報をお送り致します。
      </p>
      <!-- <p>
        ノラックに登録を希望していただきありがとうございます。登録を完了するために、下記の「登録を確認する」をクリックしてください。ノラックに登録を希望されていない場合、もしくは心当たりのない場合は、このメールは無視してください。
      </p>
      <a href="https://no-lack.com/confirm/{{ subscription_id }}" style="margin: auto;" >
        登録を確認する
      </a> -->
      <p>
        ノラックのメーリングリストに登録を希望されていない方、もしくは心当たりのない方は、こちらの<a href="https://no-lack.com">ウェブサイト</a>のお問い合わせフォームからご連絡下さい。
        尚、お手数ですが、エラーがあった場合も、こちらのウェブサイトのお問い合わせフォームから登録者ID({{ subscription_id }})とご一緒にご連絡ください。
        登録者ID：{{ subscription_id }}
      </p>
      <p>
        登録者ID：{{ subscription_id }}
      </p>
      <p>
        <b>ノラックに関心を持っていただきありがとうございます。</b>
        皆さんと一丸となって、新型コロナウイルスによる防護用品の不足解決の一翼を担いたいと思っております。
        <br />
        <a href="https://no-lack.com"><img src="https://no-lack.com/images/nolackBlack@2x.png" style="height: 5em;" /></a>
        <br />
        ノラックチーム一同
      </p>
      <hr />
      <p>
        このメールはノラックのニュースレター送信を希望されたため、自動的に送信されました。もしニュースレターの送信を希望されない場合は、こちらの<a href="https://no-lack.com">ウェブサイト</a>の問い合わせフォームからご連絡ください。
        <a href="https://gitlab.com/colourdelete/nolack-server" >Nolack Server</a>
        {% if ci_commit_sha != "" or ci_commit_sha != None %}
        version {{ ci_commit_sha }}
        {% endif %}
        から送信。Python 3、Jinja 2、Firebase Admin Python SDK、Flask、python-dateutilsなどのオープンソースーソフトウェア使っています。 
        <br />
        このメール本文のレンダリング/生成に使用されるメールテンプレートは、GNU Lesser General Public Licenseの下でライセンスされています。
        <br />
        ライセンス通知と、どのバージョンが優先されるかについてのこの通知の日本語版（上記）が英語版（下記）と一致しない場合、英語版が優先されます。
        If the Japanese version of the license notice and this notice about which version will prevail (above) does not match with the English version (below), the English version will prevail.
        <br />
        The email template used to render/generate this email body is licensed under the GNU Lesser General Public License.
      </p>
    </div>
  </body>
</html>
